body {
    margin: 0px;
}
.whatsapp_icon {
    width: 30px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 10;
}

/* header */
.icone {
    position: absolute;
    top: -6px;
    left: 50px;
    width: 50px;
}
.header {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 70px;
    position: sticky;
    top: 0%;
}

.header_menu {
    width: 50%;
    height: 70px;
    padding: 25px;
    position: relative;
    top: 0%;
    left: 350px;
}

.header_menu a {
    font-size: 20px;
    color: white;
    padding: 5px;
    border: solid 3px white;
    margin: 0px 20px;    
}
/* header */

/* main */
.titulo {
    width: 1000px;
    position: absolute;
    top: 30px;
    left: 90px;
}
.banner {
    border: solid 2px black;
    margin-bottom: 20px;
    width: 100%;
}
.descricao {
    width: 100%;
    height: 200px;
    position: relative;
}

.descricao p {
    font-family: 'Viaoda Libre', cursive;
    text-align: justify;
    width: 200px;
    position: absolute;
}
.descricao1 {
    margin: 0px 30px 0px 20px;
    top: 20px;
    left: 0px;
}
.descricao2 {
    margin: 0px 30px;
    top: 20px;
    left: 208px;
}
.descricao3 {
    margin: 0px 30px;
    top: 20px;
    left: 430px;
}
.descricao4 {
    margin: 0px 30px;
    top: 20px;
    right: 434px;
}

.descricao5 {
    margin: 0px 50px 0px 30px;
    top: 20px;
    right: 194px;
}
.descricao6 {
    margin: 0px 20px 0px 30px;
    top: 20px;
    right: 0px;
}
/* main */

.footer {
    position: relative;
    background-color: black;
    width: 100%;
    height: 300px;
    margin-top: 200px;
}
.footer h2 {
    position: absolute;
    left: 485px;
    text-align: justify;
    font-size: 15px;
    color: white;
    width: 400px;
}